.ErrorPageWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.ErrorCode {
    margin: 0;
    font-size: 4rem;
    color: maroon;
    font-weight: bold;
}

.ErrorType {
    margin: 0;
    font-size: 2rem;
}