.SpinnerWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Spinner {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 3px solid rgba(72, 61, 39, 0.1);
    border-radius: 50%;
    border-top-color: darkslateblue;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

